@media (prefers-color-scheme: light) {
:root {
	--background-color: #F5F5F5;
	--text-color: #263238;
    --heading-color: #F05454;
}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #263238;
		--text-color: #f5f5f5;
        --heading-color: #F05454;
	}
}